name: Generator Dependency Star Download Data

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "30 */12 * * *"

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: npm install

      - name: run
        run: REQUEST_TOKEN=${{secrets.REQUEST_TOKEN}} npm run gen:data

      - name: "Commit"
        uses: EndBug/add-and-commit@v4
        with:
          author_name: lonewolfyx
          author_email: 877085893@qq.com
          message: "fix(data): Update the latest number of stars and downloads in dependency.json"
          add: "."

        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}